<section id="about" class="about">
  <div class="container">
      <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
          <h2>About Me</h2>
          <hr class="small">
          <p class="lead">I am an undergraduate at Caltech studying electrical engineering
          with a focus in computer engineering. I am interested in both hardware and software, so my
          coursework is a balance of circuit design and embedded systems. I am fascinated by the way
          hardware and software can be integrated together, and I have published a variety of projects
          on my website that capture my interests. I hope you enjoy readings about my projects,
          and please feel free to reach out if you would like to connect!</p>
      </div>
      </div>
      <!-- /.row -->
  </div>
  <!-- /.container -->
  </section>
    