<header id="top" class="text-vertical-center">
  <div class="header">
    <div class="text-vertical-center">
    <h1>Garrett Knuf</h1>
    <h3>Caltech Undergraduate | Electrical Engineering</h3>
  </div>
    <img src="img/profile.png" style="width:150px; height:150px;">
  </div>
    <br>
    <div class="text-vertical-center">
    <a href="#portfolio" class="btn btn-dark btn-lg">Projects</a>
    <a href="#resume" class="btn btn-dark btn-lg">Resume</a>
    <a href="#about" class="btn btn-dark btn-lg">About Me</a>
    <a href="#contact" class="btn btn-dark btn-lg">Contact</a>
  </div>
</header>
