<section id="portfolio" class="portfolio">
  <div class="container-flex">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Projects</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/DragonflySynth.png" style="width: 500px; height: 300px; object-fit: cover;">
              <div class="portfolio-overlay" style="padding-top: 4%;">
                <div class="overlay-text"><b>Dragonfly Synth Module (2023)<br></b>This synth module was inspired by the previously designed simpler piano. It uses an AVR MCU and DAC to generate square, sine, triangle, and sawtooth waves. It also features ADSR (attack, decay, sustain, release) envelope control. A separate peripheral board was built to interface with this PCB with 7 potentiometers, 4 LEDs, and a push button.</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/DashboardCover.png" style="width: 500px; height: 300px; object-fit: cover;">
              <div class="portfolio-overlay" style="padding-top: 4%;">
                <div class="overlay-text"><b>FSAE Dashboard Electronics (2023)<br></b>This PCB was designed with an STM32 microcontroller to process driver controls of a Formula SAE racing car. It fits inside the steering wheel and handles the debouncing of buttons and rotary encoders. It communicates with an LCD dashboard display and other systems via CAN bus.</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/PianoCover.png" style="width: 500px; height: 300px; object-fit: cover;">
              <div class="portfolio-overlay" style="padding-top: 2%;">
                <div class="overlay-text"><b>Piano / Waveform Generator (2023)<br></b>This piano runs on a custom GUI that uses a DAC to convert keypresses into an analog voltage. A voltage to frequency converter (VFC) is then used the generate a square wave. A three-stage low pass filter converts the square wave to a sine wave. It also features a volume control and note fading module where a transistor is operated in triode region with non-linear gain.</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/ClockCover.png" style="width: 500px; height: 300px; object-fit: cover;">
              <div class="portfolio-overlay" style="padding-top: 4%;">
                <div class="overlay-text"><b>Ping Pong Ball LED Clock (2022)<br></b>This project contains individually addressable LED strips and 128 ping pong balls acting as light diffusers to construct a clock. It was originally inspired by a project on Instructables.com, but the design and codebase were fully customized. It has several modes and animations controlled by an IR remote and Arduino.</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/binario.png" style="width: 500px; height: 300px; object-fit: cover;">
              <div class="portfolio-overlay" style="padding-top: 4%;">
                <div class="overlay-text"><b>Binario AVR Assembly Game (2022)<br></b>This board was programmed in AVR assembly as a final project for Caltech EE/CS 10b, Introduction to Digital Logic and Embedded Systems. It is a polled system running on an Atmega64 microcontroller. Features on this boards include a multiplexed 8x8 LED matrix, debounced switches and encoders, sine wave tone generation, and SPI EEROM.</div>
              </div>
            </div>
          </div>
            <div class="col-md-4">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/CpuCover.png" style="width: 500px; height: 300px; object-fit: cover;">
                <div class="portfolio-overlay" style="padding-top: 4%;">
                  <div class="overlay-text"><b>8-bit CPU Design (2022)<br></b>A design of an 8-bit CPU was completed on a complex programmable logic device (CPLD) as a final project for Caltech EE/CS 10a. It was programmed in Advanced Boolean Expression Language (ABEL) and it simulates an 8-bit CPU with 85 instructions.</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/SmarthomeCover.png" style="width: 500px; height: 300px; object-fit: cover;">
                <div class="portfolio-overlay" style="padding-top: 4%;">
                  <div class="overlay-text"><b>Arduino Smart Home (2021)<br></b>This project was designed as 15-lesson course for students to learn about electronics. Each lesson, students learn how to implement and code a new component with an Arduino, including LEDs, buttons, DC motors, servo motors, stepper motors, infrared sensor, liquid crystal displays, joysticks, photoresistors, and ultrasonic sensors.</div>
                </div>
              </div>
            </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/NormanCover.png" style="width: 500px; height: 300px; object-fit: cover;">
              <div class="portfolio-overlay" style="padding-top: 4%;">
                <div class="overlay-text"><b>Maze-Navigating Robot (2023)<br></b>The Normstorm is a 2 wheeled autonomous rover designed to explore maps. The bot sees the world through 3 IR sensors and 3 ultrasound detectors. It implements advanced maze navigating algorithms and decision-making processes. The motor and sensors are controlled with a Raspberry Pi.</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/ShooterCover.png" style="width: 500px; height: 300px; object-fit: cover;">
              <div class="portfolio-overlay" style="padding-top: 4%;">
                <div class="overlay-text"><b>FIRST Robotics Shooter (2021)<br></b>CAD of shooter mechanism that successfully competed in 2020 FIRST Robotics Competition. The mechanism rotates on a turret and has flywheels to launch foam balls into a 3ft wide target from 30 feet away. A robust adjustable hood was also designed to change the launch angle.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
