<section id="portfolio" class="portfolio">
  <div class="container-flex">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Projects</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/dragonfly.png" style="width: 500px; height: 300px; object-fit: cover;">
              <div class="portfolio-overlay">
                <div class="overlay-text">Text here Text here Text here Text here Text here Text here Text here Text here Text here</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/DashboardCover.png" style="width: 500px; height: 300px; object-fit: cover;">
              <div class="portfolio-overlay">
                <div class="overlay-text">Text here Text here Text here Text here Text here Text here Text here Text here Text here</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/PianoCover.png" style="width: 500px; height: 300px; object-fit: cover;">
              <div class="portfolio-overlay">
                <div class="overlay-text">Text here Text here Text here Text here Text here Text here Text here Text here Text here</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/ClockCover.png" style="width: 500px; height: 300px; object-fit: cover;">
              <div class="portfolio-overlay">
                <div class="overlay-text">Text here Text here Text here Text here Text here Text here Text here Text here Text here</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/binario.png" style="width: 500px; height: 300px; object-fit: cover;">
              <div class="portfolio-overlay">
                <div class="overlay-text">Text here Text here Text here Text here Text here Text here Text here Text here Text here</div>
              </div>
            </div>
          </div>
            <div class="col-md-4">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/CpuCover.png" style="width: 500px; height: 300px; object-fit: cover;">
                <div class="portfolio-overlay">
                  <div class="overlay-text">Text here Text here Text here Text here Text here Text here Text here Text here Text here</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/SmarthomeCover.png" style="width: 500px; height: 300px; object-fit: cover;">
                <div class="portfolio-overlay">
                  <div class="overlay-text">Text here Text here Text here Text here Text here Text here Text here Text here Text here</div>
                </div>
              </div>
            </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/NormanCover.png" style="width: 500px; height: 300px; object-fit: cover;">
              <div class="portfolio-overlay">
                <div class="overlay-text">Text here Text here Text here Text here Text here Text here Text here Text here Text here</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/ShooterCover.png" style="width: 500px; height: 300px; object-fit: cover;">
              <div class="portfolio-overlay">
                <div class="overlay-text">Text here Text here Text here Text here Text here Text here Text here Text here Text here</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
