<section id="portfolio" class="portfolio">
  <div class="container-flex">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Projects</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/dragonfly.png" style="width: 500px; height: 300px; object-fit: cover;">
              <div class="portfolio-overlay" style="padding-top: 4%;">
                <div class="overlay-text"><b>Dragonfly Synth Module<br></b></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/DashboardCover.png" style="width: 500px; height: 300px; object-fit: cover;">
              <div class="portfolio-overlay" style="padding-top: 4%;">
                <div class="overlay-text"><b>FSAE Dashboard Electronics<br></b></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/PianoCover.png" style="width: 500px; height: 300px; object-fit: cover;">
              <div class="portfolio-overlay" style="padding-top: 4%;">
                <div class="overlay-text"><b>Analog Frequency Generator/Piano<br></b></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/ClockCover.png" style="width: 500px; height: 300px; object-fit: cover;">
              <div class="portfolio-overlay" style="padding-top: 4%;">
                <div class="overlay-text"><b>Ping Pong Ball LED Clock<br></b>This project contains individually addressable LED strips and 128 ping pong balls acting as light diffusers to construct a clock. It was originally inspired by a project on Instructables.com, but the design and codebase were fully customized. It has several modes and animations controlled by an IR remote and Arduino.</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/binario.png" style="width: 500px; height: 300px; object-fit: cover;">
              <div class="portfolio-overlay" style="padding-top: 4%;">
                <div class="overlay-text"><b>Binario AVR Assembly Game<br></b></div>
              </div>
            </div>
          </div>
            <div class="col-md-4">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/CpuCover.png" style="width: 500px; height: 300px; object-fit: cover;">
                <div class="portfolio-overlay" style="padding-top: 4%;">
                  <div class="overlay-text"><b>8-bit CPU Design<br></b></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/SmarthomeCover.png" style="width: 500px; height: 300px; object-fit: cover;">
                <div class="portfolio-overlay" style="padding-top: 4%;">
                  <div class="overlay-text"><b>Arduino Smart Home<br></b></div>
                </div>
              </div>
            </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/NormanCover.png" style="width: 500px; height: 300px; object-fit: cover;">
              <div class="portfolio-overlay" style="padding-top: 4%;">
                <div class="overlay-text"><b>Maze-Navigating Robot<br></b></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/ShooterCover.png" style="width: 500px; height: 300px; object-fit: cover;">
              <div class="portfolio-overlay" style="padding-top: 4%;">
                <div class="overlay-text"><b>FIRST Robotics Shooter (2021)<br></b></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
